@use '../../../../../ui/style/base/mixins' as mix;
.eq-product {
    @include mix.flex(column, $gap: 60px);
    @include mix.padding(30px);
    line-height: 1.5;
    @include mix.margin($b:20px);
    &--price {
        @include mix.font-size(28px);
        sup {
            font-weight: normal;
        }
    }
    &--images {
        box-shadow: 0 0 20px rgba(0,0,0, 0.12);
        border-radius: 10px;
        img {
            max-width: 100%;
        }
    }
    &--info {
        @include mix.flex(column, $gap: 16px);
        &box {
            @include mix.padding(20px);
            @include mix.background(light);
            border-radius: 10px;
            &field {
                @include mix.flex();
                font-weight: 600;
                &:not(:last-child) {
                    @include mix.margin($b:10px);
                }
                &:before {
                    content: attr(data-for);
                    font-weight: normal;
                    flex-basis: 130px;
                }
            }
        }
    }
    &--name {
        @include mix.font-size(24px);
        @include mix.color(accent);
        line-height: inherit;   
    }
    &--rating {
        @include mix.flex(row,$ai:center,$gap:4px);
        .fa {
            &.filled {
                @include mix.color(accent);
            }
            &.unfilled {
                @include mix.color(text-light);
            }
        }
    }
    &--btns {
        @include mix.flex($gap: 20px);
        .eq-btn {
            @include mix.padding($y:12px,$x:20px);
        }
    }
}
.eq-review{
    &--list{
        list-style: none;
        padding: 0;
        margin:0;
        margin-bottom: 20px;
    }
    &--box{
        @include mix.flex(column,$gap:12px);
        @include mix.padding(30px);
        border: 1px solid var(--border-color);
        border-radius: 6px;
        &:is(:hover,:focus){
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
        }
        border-bottom: 3px solid var(--accent);
        @include mix.margin($b:20px);
    }
    &--user {
        @include mix.font-size(14px);
        display: inline-block;
        @include mix.padding($y:8px,$x:16px);
        @include mix.background(light);
        max-width: max-content;
        border-radius: 30px;
        font-weight: 600;
    }
    &--text {
        @include mix.font-size(17px);
        margin-bottom: 0;
        line-height: 1.5;
    }
}