.k-flex {
    display: flex;
    &-column {
        display: flex;
        flex-direction: column;
    }
    &-nowrap {
        flex-wrap: nowrap;
    }
    &-grow {
        flex-grow: 1;
    }
}
.k-ai {
    &-center {
        align-items: center;
    }
    &-start {
        align-items: flex-start;
    }
    &-end {
        align-items: flex-end;
    }
}
.k-jc {
    &-center {
        justify-content: center;
    }
    &-start {
        justify-content: flex-start;
    }
    &-end {
        justify-content: flex-end;
    }
}
.text { 
    &-center {
        text-align: center;
    }
    &-right {
        text-align: right;
    }
    &-left {
        text-align: left;
    }
    &-uppercase {
        text-transform: uppercase;
    }
    &-white {
        color: var(--white);
    }
    &-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &-truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.cursor {
    &-pointer {
        cursor: pointer;
    }
}
.transition {
    transition: all linear 0.2s;
}
.pos {
    &-fix {
        position: fixed;
    }
    &-rel {
        position: relative;
    }
    &-abs {
        position: absolute;
    }
    &-sticky {
        position: sticky;
    }
}
.w {
    &-full {
      width: 100%;
    }
    &-viewport {
      width: 100vw;
    }
  }
  .h {
    &-full {
      height: 100%;
    }
    &-viewport {
      height: 100%;
    }
  }
  .nowhitespace {
    white-space: nowrap;
}
$colors: (
  white: var(--white),
  black: var(--black),
  primary: var(--primary),
  primary-dark: var(--primary-dark),
  primary-light: var(--primary-light),
  primary-hover: var(--primary-hover, #0075BC),
  success: var(--success),
  success-light: var(--success-light),
  success-hover: var(--success-hover, #36A806),
  danger: var(--danger),
  danger-light: var(--danger-light),
  danger-hover: var(--danger-hover, #E63737),
  warning: var(--warning),
  warning-light: var(--warning-light),
  warning-hover: var(--warning-hover, #E6AE06),
  text-light: var(--text-color-light),
  bg-light: var(--bg-light),
  accent: var(--accent)
);
@each $item, $value in $colors {
    .bg-#{""+$item+""} {
      background-color: $value;
    }
  }
  @each $item, $value in $colors {
    .color-#{""+$item+""} {
      color: $value;
    }
  }
  .gap{
    gap: var(--flex-gap);
}