:root {
    --border-color: #dddddd;
    --white: #ffffff;
    --black: #1C1C1C;
    /*Theme*/
    --primary: #196742;
    --accent: #1E73BE;
    --accent-dark: #111E6C;
    --accent-light: #4F8EC5;
    --dark: var(--black);
    /*background*/
    --bg-light: #f7f7f7;
    --text-light: #bcbcbc;
}