@import "./base/base.scss", "./framework/framework.scss";
.eq {
    &-section {
        @include padding($y: 80px);
        &--heading {
            @include font-size(24px);
            @include text(uppercase);
            @include flex(column,$jc:center, $gap:6px);
            @include margin($b: 30px);
            @include textAlign(center);
            @include color(accent);
        }
        &--subheading {
            @include font-size(16px);
            font-style: italic;
            @include color(black);
            text-transform: initial;
        }
    }
    &-container {
        width: 100%;
        @include padding($x: 16px);
        max-width: 1280px;
        margin: 0 auto;
    }
}
