@import "./base/base.scss", "./framework/framework.scss";
.eq {
    &-section {
        @include padding($y: 80px);
        &--heading {
            @include font-size(18px);
            @include text(uppercase);
            @include flex($jc:center);
            @include margin($b: 30px);
        }
    }
    &-container {
        width: 100%;
        @include padding($x: 16px);
        max-width: 1280px;
        margin: 0 auto;
    }
}
