<eq-page-header title="Contact Us"></eq-page-header>
<Container>
    <h3 class="eq-pageheader--title">
        Monday - Friday 9 am to 5 pm CST
        <span class="eq-pageheader--text">We are closed on weekends and all national holidays</span>
    </h3>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="eq-field">
                <label for="" class="eq-field--label">Enquiry for</label>
                <div class="eq-checkboxes">
                    <label class="eq-checkbox"><input type="radio" name="enquiry"> Sales</label>
                    <label class="eq-checkbox"><input type="radio" name="enquiry"> Service</label>
                    <label class="eq-checkbox"><input type="radio" name="enquiry"> Parts</label>
                    <label class="eq-checkbox"><input type="radio" name="enquiry"> General Inquiry</label>
                </div>
            </div>
            <div class="eq-field">
                <label for="" class="eq-field--label">Name</label>
                <input type="text" class="eq-field--input" placeholder="Enter">
            </div>
            <div class="eq-field">
                <label for="" class="eq-field--label">Email</label>
                <input type="email" class="eq-field--input" placeholder="Enter">
            </div>
            <div class="eq-field">
                <label for="" class="eq-field--label">Phone no</label>
                <input type="text" class="eq-field--input" placeholder="Enter">
            </div>
            <div class="eq-field">
                <label for="" class="eq-field--label">Message</label>
                <textarea class="eq-field--input" placeholder="Write Message" rows="3"></textarea>
            </div>
            <button type="button" class="eq-btn eq-btn--primary outline">Send Message</button>
        </div>
        <div class="col-12 col-lg-6">
            <address class="eq-contact--address">
                <i class="fa fa-building"></i>
                <strong>Equator Corporate Office – USA</strong><br>
                10222 Georgibelle Drive, Suite 200,<br>
                    Houston, TX 77043<br>
                    <b>Tel:</b> (800) 935-1955<br>
                    <b>Email:</b> mail&#64;equatorappliances.com
            </address>
            <address class="eq-contact--address">
                <i class="fa fa-building"></i>
                <strong>Equator Europe SA</strong><br>
                179 Alexandrou Papanastasiou str, 54250 Harilaou<br>
                    Thessaloniki, Greece<br>
                    <b>Email:</b> europe&#64;equatorappliances.com
            </address>
            <address class="eq-contact--address">
                <i class="fa fa-building"></i>
                <strong>Equator India</strong><br>
                11/402, Gera Gardens, Koregaon Park,<br>
                    Pune, MH 411001 India<br>
                    <b>Email:</b> mail&#64;equatorappliances.in
            </address>
            <address class="eq-contact--address">
                <i class="fa fa-building"></i>
                <strong>Equator China</strong><br>
                1Gongye bei road, Jinan, China<br>
                    <b>Email:</b> eric.sheng&#64;equatorappliances.com
            </address>
           
        </div>
        <div class="col-12">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <img src="https://equatorappliances.com/data-images/eqmap.jpg" alt="equator map">
        </div>
    </div>
</Container>