<eq-page-header title="Dealer"></eq-page-header>
<Container>
    <div class="row">
        <div class="col-12 col-lg-4">
            <form>
                <div class="eq-field">
                    <label class="eq-field--label">ENTER ZIP/POSTAL CODE</label>
                    <input type="text" class="eq-field--input" placeholder="Enter">
                </div>
                <div class="eq-field">
                    <label class="eq-field--label">ENTER RADIUS (IN MILES)</label>
                    <input type="text" class="eq-field--input" placeholder="Enter">
                </div>
                <button type="button" class="eq-btn eq-btn--primary outline">Search Dealer</button>
            </form>
        </div>
        <div class="col-12 col-lg-8">
            <img src="../../../../../shared/media/map.png" alt="map placeholder" width="100%">
        </div>
    </div>
</Container>