<eq-page-header title="About"></eq-page-header>
<Container>
    <section class="eq-about--section">
        <div class="eq-about--info">
            <h3 class="eq-about--title">About the Company</h3>
            <p class="eq-about--text">Equator Advanced Appliances was established in 1991 and based in Houston, Texas, USA. Equator’s vision is to make Appliances that ease labor, time and energy in doing household chores. Equator’s mission is to provide Innovative, Practical, Top-Quality Appliances that Save Time, Space and Energy and Simplify the way people do their Chores thereby Improving the Quality of Life!</p>
        </div>
        <img src="https://equatorappliances.com/assets/img/aboutus.jpg" alt="equator about us image" class="eq-about--img">
    </section>
    <section class="eq-about--section right">
        <div class="eq-about--info">
            <h3 class="eq-about--title">BACKGROUND</h3>
            <p class="eq-about--text">When Mr. Atul Vir, current President and CEO founded the company out of a garage based on the idea of an all-in-one washer dryer, critics met him with skepticism and doubt.<br><br>But just after five years of launching the company, consumers loved the company’s skillful adaptations. Especially apartment dwellers and RV owners who were tight on space but still desired a convenient laundry solution. This quickly made Equator one of the fastest growing businesses in Houston for 3 years in a row.<br><br>Equator Advanced Appliances has forever changed the way Americans, and now families worldwide, complete household chores for a better quality of life.</p>
        </div>
        <img src="https://equatorappliances.com/assets/img/backg.jpg" alt="equator about us image" class="eq-about--img">
    </section>
    <section class="eq-about--section">
        <div class="eq-about--info">
            <h3 class="eq-about--title">INNOVATION</h3>
            <p class="eq-about--text">Equator delivers a variety of innovative technology to customers in different countries.<br><br>
                Equator has pioneered numerous innovations like its Super Combo Washer-Dryers capable of providing venting and condensing options, introduced the game changing Convertible Refrigerator + Freezer and also the 2 in 1 Cordless Sweeper + Mop. It was also the first company to win the Energy Star designation for its environmentally friendly appliances.</p>
        </div>
        <img src="https://equatorappliances.com/assets/img/innovation.jpg" alt="equator about us image" class="eq-about--img">
    </section>
    <section class="eq-about--section right">
        <div class="eq-about--info">
            <h3 class="eq-about--title">HI-TECH APPLIANCES</h3>
            <p class="eq-about--text">Equator Appliances are equipped with smart technology. The company offers a variety of intelligent products, from easy-to-use dishwashers, sleek and sophisticated refrigerators, powerful and compact microwaves, and futuristic wine coolers. The latest innovation is Equator’s high-tech built-in induction cooktop with both power and energy efficiency that can boil water in two minutes that leaves traditional gas or electric stoves struggling to compete.</p>
        </div>
        <img src="https://equatorappliances.com/assets/img/hitech.jpg" alt="equator about us image" class="eq-about--img">
    </section>
    <section class="eq-about--section">
        <div class="eq-about--info">
            <h3 class="eq-about--title">HEALTH AND WELLNESS</h3>
            <p class="eq-about--text">For the safety of families worldwide, the new Washer EW 835 and Combo washer-dryer EZ 5500 can kill contagions including the COVID-19 virus and allergens with the sanitize and allergen cycles. We also have high performance air purifiers which circulate the air from the home and commercial refrigerators to store vaccines or other pharmaceuticals.</p>
        </div>
        <img src="https://equatorappliances.com/assets/img/healthwellnesnn.jpg" alt="equator about us image" class="eq-about--img">
    </section>
    <section class="eq-about--section right">
        <div class="eq-about--info">
            <h3 class="eq-about--title">CLEAN ENERGY</h3>
            <p class="eq-about--text">It has been well documented that natural gas and propane release nitrogen dioxide, carbon monoxide and other noxious gases into the air. Apart from being damaging to the environment, it is also harmful to anyone breathing this indoors. Equator has therefore decided to only produce appliances that are powered by electricity.</p>
        </div>
        <img src="https://equatorappliances.com/assets/img/cleanenergy.jpg" alt="equator about us image" class="eq-about--img">
    </section>
    <section class="eq-about--section">
        <div class="eq-about--info">
            <h3 class="eq-about--title">USER FRIENDLY</h3>
            <p class="eq-about--text">Beginning with the design phase, every Equator appliance is designed with the end-user in mind. Products are compact and slim, enhanced with intuitive control panels with color codes, easy-to-read troubleshooting codes, WiFi capability, and now with QR codes on the appliance which eliminates the need of keeping track of bulky manuals or sifting through unnecessary details.</p>
        </div>
        <img src="https://equatorappliances.com/assets/img/userfriendly.jpg" alt="equator about us image" class="eq-about--img">
    </section>
    <section class="eq-about--section right">
        <div class="eq-about--info">
            <h3 class="eq-about--title">ECO-FRIENDLY</h3>
            <p class="eq-about--text">Responsibly managing the earth’s resources and limiting excess waste continues to be a top priority for Equator. We make products that save Energy, Water, and Detergent. Washers and Combo washer-dryers do not waste a single drop of water or detergent thanks to its smart technology that can measure out the exact amounts of water needed for an optimal clean. Dryer heat sensors precisely dry clothes without wasted time or energy. Refrigerators are Energy-Star approved for saving consumers on energy costs.</p>
        </div>
        <img src="https://equatorappliances.com/assets/img/ecofriendly.jpg" alt="equator about us image" class="eq-about--img">
    </section>
    <section class="eq-about--section">
        <div class="eq-about--info">
            <h3 class="eq-about--title">OUR CUSTOMERS</h3>
            <p class="eq-about--text">Our ultimate responsibility is to our customers who use our products. In order to achieve this, we strive to offer superior customer service, technical support, product distribution, parts supply, sales training, and all those services that make us a valued player in the appliance industry.</p>
        </div>
        <img src="https://equatorappliances.com/assets/img/customers.jpg" alt="equator about us image" class="eq-about--img">
    </section>
    <section class="eq-about--section right">
        <div class="eq-about--info">
            <h3 class="eq-about--title">OUR FUTURE </h3>
            <p class="eq-about--text">Managing the Earth’s resources and excess waste, delivering superior customer service, and maximum consumer comfort and savings is what keeps Equator Advanced Appliances an industry leader today and for future generations.</p>
        </div>
        <img src="https://equatorappliances.com/assets/img/future.jpg" alt="equator about us image" class="eq-about--img">
    </section>
</Container>