<eq-page-header title="Shipping & Return Policy" [breadcrumbs]="false"></eq-page-header>
<Container>
    <main class="eq-para--wrap">
    <section class="eq-para" data-title="SHIPPING">
        <p class="eq-para--text">
            Once we receive the order, we ship within 24-48 hours. Anything that is backordered will be provided with an ETA.
        </p>
    </section>
    <section class="eq-para" data-title="RETURN">
        <p class="eq-para--text">
            Equator Appliances wants you to be completely satisfied with the products you order. If, within 30 days after you receive the merchandise, you find any type of damage you must notify our customer service and an inspection will be completed.
<br><br>
You may return most new items sold by Equator Appliances within 24-48 hours of delivery. 15% restocking fees and shipping charges would be applicable. Unit has to be in original packaging and it would be inspected before refund is processed.
<br><br>
We'll notify you via e-mail of your refund once we've received and processed the returned item.
        </p>
    </section>
    <section class="eq-para" data-title="DAMAGE">
        <p class="eq-para--text">
            It is the receiver’s responsibility to inspect freight upon delivery. Please open the package immediately upon delivery,
<br><br>
If the receiver notices any damage to the package, this should be noted on the receiving document. This should be notified to us within 24 hours of receiving the delivery.
<br><br>
If there is no damage on the box, but there is concealed damage, this should be notified to us within 24 hours of receiving the package.
<br><br>
<strong>Our phone number is 1-800-935-1955 Email: mail&#64;equatorappliances.com</strong>
        </p>
    </section>
    </main>
</Container>