.eq-btn {
    display: inline-block;
font-weight: 400;
line-height: 1.5;
color: #212529;
text-align: center;
text-decoration: none;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
background-color: transparent;
border: 1px solid transparent;
padding: .375rem .75rem;
font-size: 1rem;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
max-width: max-content;
&--primary {
    color: #fff;
    background-color: #0a58ca;
    border-color: #0a53be;
}
&--light {
    color: var(--text-dark);
    background-color: var(--white);
    border-color: var(--border);
    &:is(:hover,:focus){
        background-color: var(--text-light);
    }
}
&.mt-auto{
    margin-top: auto;
}
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    }
    button, select {
        text-transform: none;
        }
        button, input, optgroup, select, textarea {
            margin: 0;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            }