<eq-page-header title="Messaging Terms & Conditions" [breadcrumbs]="false"></eq-page-header>
<Container>
    <main class="eq-para--wrap">
    <section class="eq-para" data-title="MESSAGING TERMS & CONDITIONS">
        <p class="eq-para--text">
            Equator Appliances | Equator Advanced Appliances | 10222 Georgibelle Dr 200 Houston TX US 77043-5206
        </p>
    </section>
    <section class="eq-para" data-title="GENERAL">
        <p class="eq-para--text">
            When you opt-in to the service, we will send you a message to confirm your signup.<br><br>
            By opting into messages, you agree to receive recurring automated marketing and informational text messages from Equator Advanced Appliances for Equator Appliances. Automated messages may be sent using an automatic telephone dialing system to the mobile telephone number you provided when signing up or any other number that you designate.<br><br>
            Message frequency varies, and additional mobile messages may be sent periodically based on your interaction with Equator Appliances. Equator Advanced Appliances reserves the right to alter the frequency of messages sent at any time to increase or decrease the total number of sent messages. Equator Advanced Appliances also reserves the right to change the short code or phone number where messages are sent.<br><br>
            Message and data rates may apply. If you have any questions about your text plan or data plan, it is best to contact your wireless provider. Your wireless provider is not liable for delayed or undelivered messages.<br><br>
            Your consent to receive marketing messages is not a condition of purchase.
        </p>
    </section>
    <section class="eq-para" data-title="CARRIERS">
        <p class="eq-para--text">
            Carriers are not liable for delayed or undelivered messages.
        </p>
    </section>
    <section class="eq-para" data-title="CANCELLATION">
        <p class="eq-para--text">
            You can cancel any time by texting "STOP". After you send the SMS message "STOP", we will send you a message to confirm that you have been unsubscribed and no more messages will be sent. If you would like to receive messages from Equator Advanced Appliances again, just sign up as you did the first time and Equator Advanced Appliances will start sending messages to you again.
        </p>
    </section>
    <section class="eq-para" data-title="INFO">
        <p class="eq-para--text">
            Text "HELP" at any time and we will respond with instructions on how to unsubscribe. For support regarding our services, email us at <br>info&#64;equatorappliances.com.
        </p>
    </section>
    <section class="eq-para" data-title="TRANSFER OF NUMBER">
        <p class="eq-para--text">
            You agree that before changing your mobile number or transferring your mobile number to another individual, you will either reply “STOP” from the original number or notify us of your old number at info&#64;equatorappliances.com. The duty to inform us based on the above events is a condition of using this service to receive messages.
        </p>
    </section>
    <section class="eq-para" data-title="PRIVACY">
        <p class="eq-para--text">
            If you have any questions about your data or our privacy practices, please contact us at - mail&#64;equatorappliances.com.
        </p>
    </section>
    <section class="eq-para" data-title="MESSAGING TERMS CHANGES">
        <p class="eq-para--text">
            We reserve the right to change or terminate our messaging program at any time. We also reserve the right to update these Messaging Terms at any time. Such changes will be effective immediately upon posting. Your continued enrollment following such changes shall constitute your acceptance of such changes
        </p>
    </section>
    </main>
</Container>