<eq-page-header title="Reviews"></eq-page-header>
<Container>
    <div class="row">
        <div class="col-6 col-lg-4">
            <div class="eq-field">
                <label for="" class="eq-field--label">Country</label>
                <select class="eq-field--select form-control">
                    <option>Select</option>
                    <option>All Reviews</option>
                    <option>USA</option>
                    <option>India</option>
                    <option>Canada</option>
                </select>
            </div>
        </div>
        <div class="col-6 col-lg-4">
            <div class="eq-field">
                <label for="" class="eq-field--label">Review Type</label>
                <select class="eq-field--select" name="product" id="product" required="">
                    <option value="all">Select Review Type</option>
                    <option value="customer service">Customer Service</option>
                    <option value="logistics">Logistics</option>
                    <option value="general">General</option>
                    <option value="9">Compact Standard Dryer 860 V</option>
                    <option value="11">Stackable Washer Dryer Set 824N+ 850V</option>
                    <option value="12">Stackable Washer Dryer Set 824N+ 860V</option>
                    <option value="19">CMO 800 FB Combo Microwave + Convection Oven</option>
                    <option value="60">Flip up Side Drip Pan (DPP 2835)</option>
                    <option value="65">Inside Vent Kit IVK 1055</option>
                    <option value="67">White Outside Vent Kit WVK 1059</option>
                    <option value="68">Floor Bracket (FBK 1052)</option>
                    <option value="75">Stainless Steel Hoses SSH 2826</option>
                    <option value="84">Elp Pan Stand with Sensor Activated Pump PSD-2405</option>
                    <option value="85">Washer EW 824N</option>
                    <option value="96">Outside Vent kit w/ damper(stainless) (OVK 1064)</option>
                    <option value="97">Outside vent kit w/ damper (Black) (OVK 1065)</option>
                    <option value="99">Vent Bucket (WVB 1069)</option>
                    <option value="246">Faucet Adapter Kit - FAK 1071</option>
                    <option value="248">Castor Kit - CAS 1072</option>
                    <option value="251">Manual Defrost Upright Freezer Stainless - Cap: 3.0 cu.ft</option>
                    <option value="252">MDRF376 - 1150 Tall Bottom Mount Refrigerator</option>
                    <option value="255">Super Combo White Model 5500 CV</option>
                    <option value="256">A016 Series</option>
                    <option value="257">Induction Cooktop PIC 200N</option>
                    <option value="258">Glass Kettle JF-G108</option>
                    <option value="259">Glass Kettle JF-G101</option>
                    <option value="260">Glass Kettle - JF-G102</option>
                    <option value="261">Glass Kettle - JF-G102A </option>
                    <option value="262">CW 7050 HG </option>
                    <option value="263">CW 8050 CG</option>
                    <option value="264">CW 9050 CG</option>
                    <option value="265">CW 719120 GZ</option>
                    <option value="266">CW 959120 GZ</option>
                    <option value="267">CW 979120 GZ</option>
                    <option value="268">DD 4088</option>
                    <option value="269">DD 6088</option>
                    <option value="270">DD 7028</option>
                    <option value="271">Compact Dishwasher </option>
                    <option value="272">Compact Dishwasher </option>
                    <option value="273">Compact Dishwasher </option>
                    <option value="274">Compact Dishwashe</option>
                    <option value="275">Compact Dishwasher</option>
                    <option value="276">Compact Dishwasher </option>
                    <option value="277">Compact Dishwasher</option>
                    <option value="278">Compact Dishwasher </option>
                    <option value="279">Compact Dishwasher </option>
                    <option value="280">Wine Cooler - JC-22A</option>
                    <option value="281">Wine Cooler - JC-58A</option>
                    <option value="282">Wine Cooler - JC-85A</option>
                    <option value="283">Wine Cooler - JC-145A</option>
                    <option value="284">Wine Cooler - JC-85B</option>
                    <option value="285">Chest Freezer</option>
                    <option value="286">Chest Freezer</option>
                    <option value="287">Chest Freezer</option>
                    <option value="288">Wine Cooler - JC-145B</option>
                    <option value="289">Wine Cooler - JC-115</option>
                    <option value="290">Wine Cooler - JC-118</option>
                    <option value="291">Beverage Center - JC-85C</option>
                    <option value="292">Beverage Center - JC-145C</option>
                    <option value="293">REF 401 SD</option>
                    <option value="294">REF 406 Combi </option>
                    <option value="295">REF 436 Combi</option>
                    <option value="296">REF 450 NF</option>
                    <option value="297">REF 580 NF</option>
                    <option value="298">REF 138 TF</option>
                    <option value="299">REF 175 TF</option>
                    <option value="301">REF 205 TF</option>
                    <option value="302">REF 245 TF </option>
                    <option value="303">Ice Maker - YT-E-004A</option>
                    <option value="304">Ice Maker - YT-E-004B</option>
                    <option value="305">Ice Maker - YT-E-005A</option>
                    <option value="306">Ice Maker - YT-E-005A-N</option>
                    <option value="307">Ice Maker - YT-E-005B</option>
                    <option value="308">Ice Maker - YT-E-005B-N</option>
                    <option value="309">Ice Maker - YT-E-005C</option>
                    <option value="310">PIC 121</option>
                    <option value="311">Induction - VP1-21D</option>
                    <option value="312">Induction - VP1-21B</option>
                    <option value="313">Induction - VP2-35D</option>
                    <option value="314">Induction - VP2-35C</option>
                    <option value="315">Induction - VP2-35B</option>
                    <option value="316">Air Fryer and Pressure Cooker 2 IN 1</option>
                    <option value="317">Electric Coolboxes YT-A-400A </option>
                    <option value="318">Electric Coolboxes YT-A-500B</option>
                    <option value="319">Electric Coolboxes YT-A-600B</option>
                    <option value="320">Electric Coolboxes - AAB-15X</option>
                    <option value="322">Chest Freezer</option>
                    <option value="323">A012A</option>
                    <option value="324">A011F</option>
                    <option value="325">CDW819W</option>
                    <option value="326">EQ2000</option>
                    <option value="327">EQ1000</option>
                    <option value="329">30 Inch Built-In Induction Cooktop</option>
                    <option value="330">36 Inch Built-In Induction Cooktop</option>
                    <option value="331">Equator 18 lbs Washer with Sanitize, Allergen and Winterize Features</option>
                    <option value="334">Conserv 24 inch Wide 10.8 cu.ft.Bottom Freezer Refrigerator Stainless</option>
                    <option value="337">Stackable Washer and Dryer</option>
                    <option value="338">Stackable Washer and Dryer</option>
                    <option value="340">Conserv 24</option>
                    <option value="345">Portability Kit</option>
                    <option value="347">Rear Stacking Kit</option>
                    <option value="355">Wine Refrigerator WR 12</option>
                    <option value="356">Wine Refrigerator WR 16</option>
                    <option value="357">Outdoor AC</option>
                    <option value="358">Outdoor Refrigerator</option>
                    <option value="359">Portable Fridge/Freezer</option>
                    <option value="360">PORTABLE FRIDGE/FREEZER IC</option>
                    <option value="237">11.5 inch High Pedestal with Storage drawer (Gold)</option>
                    <option value="362">Vestal Dishwasher</option>
                    <option value="363">Vestal Dishwasher</option>
                    <option value="364">Vestal Dishwasher</option>
                    <option value="365">Super Combo Washer Dryer Yellow Spring 2021</option>
                    <option value="366">Super Combo Washer Dryer Red Fall 2021</option>
                    <option value="367">Super Combo Washer Dryer Green Summer 2021</option>
                    <option value="368">Super Combo Washer Dryer Dark Blue Winter 2021</option>
                    <option value="375">Conserv 2.6 cu.ft. Compact Refrigerator-Stainless, Reversible Door </option>
                    <option value="376">Conserv 4.5 cu. Ft. Compact Refrigerator-Stainless, Reversible Door </option>
                    <option value="378">Compact Short Dryer</option>
                    <option value="386">3-in-1 Microwave + Grill + Convection Oven</option>
                    <option value="387">Commercial/Pharmaceutial Refrigerator</option>
                    <option value="388">Pharmaceutical Refrigerator</option>
                    <option value="389">Universal Portable AC Drip Pan Kit</option>
                    <option value="390">Ultra Compact Dryer</option>
                    <option value="391">13 inch Built-In Induction Cooktop</option>
                    <option value="392">20 inch Built-In Induction Cooktop</option>
                    <option value="393">24 inch Built-In Induction Cooktop</option>
                    <option value="394">Equator Laundry Pedestal with Drawer</option>
                    <option value="395">Equator Laundry Pedestal with Drawer</option>
                    <option value="397">Super Combo Washer Dryer White 2021 + Laundry Pedestal (with Drawer)</option>
                    <option value="398">Super Combo Washer Dryer White 2021 + Laundry Pedestal (with Drawer) </option>
                    <option value="399">Super Combo Washer Dryer White 2021 + Laundry Pedestal (with Drawer) </option>
                    <option value="400">Super Combo Washer Dryer Green/Black 2021 + Laundry Pedestal (with Drawer) </option>
                    <option value="401">Super Combo Washer Dryer White 2021 + Laundry Pedestal (with Drawer) </option>
                    <option value="402">Super Combo Washer Dryer White 2021 + Laundry Pedestal (with Drawer) </option>
                    <option value="404">Stackable Washer and Compact Short Dryer</option>
                    <option value="405">Stackable Super Washer and Compact Short Dryer</option>
                    <option value="406">Outdoor Refrigerator</option>
                    <option value="407">Wine Refrigerator</option>
                    <option value="408">Cigar Humidor</option>
                    <option value="409">Can Cooler</option>
                    <option value="411">Vestal Refrigerator</option>
                    <option value="413">Wine Refrigerator</option>
                    <option value="414">Portable Induction Cooktop</option>
                    <option value="415">Wine Refrigerator </option>
                    <option value="410">Bottom Mounted Retro Refrigerator</option>
                    <option value="422">PORTABLE INDUCTION COOKTOP</option>
                    <option value="423">PORTABLE INDUCTION COOKTOP</option>
                    <option value="424">PORTABLE INDUCTION COOKTOP</option>
                    <option value="426">Conserv 10.7 cu. ft. Bottom Mount Retro Refrigerator in Black</option>
                    <option value="427">Conserv 10.7 cu. ft. Bottom Mount Retro Refrigerator in Cream</option>
                    <option value="428">Equator Single Bottle Chiller</option>
                    <option value="429">Equator Single Bottle Chiller</option>
                    <option value="430">Super Combo Washer Dryer Periwinkle 2021</option>
                    <option value="431">Super Combo Washer Dryer Silver 2021</option>
                    <option value="432">Equator Compact 18-Bottle Wine Refrigerator</option>
                    <option value="433">Equator Compact 18-Bottle Wine Refrigerator </option>
                    <option value="436">Equator Super-Slim 9 Bottle Wine Refrigerator</option>
                    <option value="437">Equator Super-Slim 9 Bottle Wine Refrigerator</option>
                    <option value="439">Commercial Refrigerator</option>
                    <option value="440">Equator AF 500 Air Fryer + Convection Oven, Pizza Oven, Grill, and Dehydrator</option>
                    <option value="442">3.9 cu.ft. Commercial Refrigerator in White with Temperature Alarm</option>
                    <option value="443">Equator Super-Slim 9 Bottle Wine Refrigerator </option>
                    <option value="444">Equator Compact 18-Bottle Wine Refrigerator</option>
                    <option value="445">Air Purifier Sterilizer with Humidifier</option>
                    <option value="446">Air Sterilizer</option>
                    <option value="449">24 in. Classic 8.3 Cu. FT. Frost Free Retro Upright Freezer</option>
                    <option value="450">24 in. Classic 8.3 Cu. FT. Frost Free Retro Upright Freezer</option>
                    <option value="451">24 in. Classic 8.3 Cu. FT. Frost Free Retro Upright Freezer</option>
                    <option value="452">24 in. 11 cu. ft. Classic Retro Single Door Refrigerator</option>
                    <option value="453">24 in. 11 cu. ft. Classic Retro Single Door Refrigerator</option>
                    <option value="454">24 in. 11 cu. ft. Classic Retro Single Door Refrigerator in ___</option>
                    <option value="455">Ultra Compact Laundry Centre</option>
                    <option value="456">Retro Refrigerator-Freezer Set</option>
                    <option value="457">Retro Refrigerator-Freezer Set</option>
                    <option value="458">Retro Refrigerator-Freezer Set</option>
                    <option value="463">Equator BR 317 Beverage Refrigerator</option>
                    <option value="464">Equator BR 317 Beverage Refrigerator</option>
                    <option value="465">Equator 12V DC Fridge 10 cu ft</option>
                    <option value="466">Outdoor Air Conditioner + Drip Pan Kit</option>
                    <option value="469">Equator VSM 6000 Vacuum Sweep + Mop </option>
                    <option value="470">Equator VSM 6000 Vacuum Sweep + Mop </option>
                    <option value="471">Conserv 30in Apartment Refrigerator 18cf Top Mount w/ AUTO ICE MAKER E-Star 110V</option>
                    <option value="472">ConServ 21 cu.ft. Frost Free Top Mount Refrigerator with Pre-Installed Ice Maker</option>
                    <option value="473">Conserv 3.2 cu. ft. Retro Convertible Refrigerator-Freezer Frost Free in Black</option>
                    <option value="474">Conserv 3.2 cu. ft. Retro Convertible Freezer-Refrigerator Frost Free in Black</option>
                    <option value="475">ConServ Retro Ref aEquator 18 cu.ft. Black Retro Refrigerator Freezer Frost Free with Ice Maker</option>
                    <option value="476">ConServ Retro Ref aEquator 18 cu.ft. Cream Retro Refrigerator Freezer Frost Free with Ice Maker</option>
                    <option value="477">Kitchen Appliance Bundle 1</option>
                    <option value="478">Kitchen Appliance Bundle 2</option>
                    <option value="479">KITCHEN APPLIANCE BUNDLE 3</option>
                    <option value="480">Kitchen Appliance Bundle 4</option>
                    <option value="481">Kitchen Appliance Bundle 5</option>
                    <option value="482">Kitchen Appliance Bundle 6</option>
                    <option value="483">Kitchen Appliance Bundle 7</option>
                    <option value="484">Kitchen Appliance Bundle 8</option>
                    <option value="485">Garage Appliance Bundle 1</option>
                    <option value="486">Garage Appliance Bundle 2</option>
                    <option value="487">Equator 4.76 cu. ft. Stainless Steel Beverage Refrigerator Built-In/Freestanding</option>
                    <option value="488">Equator 9000 BTU/110V Silver Outdoor Air Conditioner Freestanding + Weatherized</option>
                    <option value="489">Equator 2-Zone Luxury Gourmet Center cans+wine bottles+fine foods FS &amp; Builtin</option>
                    <option value="490">Wine Refrigerator - 52 Bottles</option>
                    <option value="491">Equator 2.82 Cubic Feet Brushed Stainless RV Refrigerator Built-In Compressor Cooling </option>
                    <option value="492">ConServ 3.2 cu.ft. Frost Free Black Retro Convertible Refrigerator-Freezer Set</option>
                    <option value="493">Equator 110 Cans &amp; 6 Bottles Frost Free Real Stainless Steel Outdoor Refrigerator</option>
                    <option value="494">Portable Fireplace Light</option>
                    <option value="499">ConServ 3.20 Cu. Ft. Stainless Compact Refrigerator Freestanding Compressor Cooling</option>
                    <option value="500">Equator 24 Inches Built-In Dishwasher w/ Top Control 15 Place Settings &amp; 8 Wash Cycles</option>
                    <option value="501">Equator 18 Inches Built-In Dishwasher 8 Place Settings &amp; 8 Wash Programs in (color)</option>
                    <option value="502">Equator 24 Inches Built-In Dishwasher w/ Top Control 15 Place Settings &amp; 8 Wash Cycles</option>
                    <option value="503">ConServ 3 cu.ft 2 Door Mini Freestanding Refrigerator with Freezer in Stainless</option>
                    <option value="504">All-in-one Washer Dryer CONVERTIBLE PET Sanitize Cycle 1.62 cf/15 lbs 1400RPM</option>
                    <option value="505">Equator 1.6 cu.ft./15 lbs White 110V Front load Washer 15 programs + Pet Cycle</option>
                    <option value="506">Equator 4 cu.ft. 220V Electric Stackable Vented Sensor Dryer Reversible Door</option>
                    <option value="507">Equator 1.62 cu.ft./15 lbs All in One Combo Washer Dryer with Pet Cycle in Silver</option>
                    <option value="509">Equator 24 Inches Built-In Dishwasher w/ Top Control 15 Place Settings &amp; 8 Wash Cycles</option>
                    <option value="508">Equator 18 Inches Built-In Dishwasher 8 Place Settings &amp; 8 Wash Programs in (color)</option>
                    <option value="510">Equator 18 Inches Built-In Dishwasher 8 Place Settings &amp; 8 Wash Programs in (color)</option>
                    <option value="511">ConServ 4.5cu.ft 2 Door Mini Freestanding Refrigerator with Freezer in Black</option>
                    <option value="512">ConServ 4.5cu.ft 2 Door Mini Freestanding Refrigerator with Freezer in Stainless</option>
                    <option value="513">Equator Laundry Centre 1.9 cu.ft Washer 110 V + 3.9 cu.ft Dryer 220 V</option>
                    <option value="522">Equator 1.62 cu.ft./15 lbs All in One Combo Washer Dryer with Pet Cycle in Black</option>
                    <option value="523">Equator 24-in 2 Drawer Freestand/Built-In Convertible Freezer/Refrig Stainless</option>
                    <option value="524">ConServ 3 cu.ft 2 Door Mini Freestanding Refrigerator with Freezer in Stainless</option>
                    <option value="525">Equator 110V 1.6 cf Washer w/ Pet Cycle &amp; 110V 3.5cf Vented Digital Sensor Dryer</option>
                    <option value="526">Equator 110V 1.6 cf Washer w/ Pet Cycle &amp; 110V 3.5cf Vented Sensor/Refresh Dryer</option>
                    <option value="527">4600 + CMV 400</option>
                    <option value="528">Bundle 5500 + AF500</option>
                    <option value="529">Equator White Outdoor Air Conditioner + Portable Single-Burner Induction Cooktop</option>
                    <option value="530">Equator 0.93 Cu. Ft Stainless 5-in-1 Air Fryer + 9-Bottle Wine Refrigerator Cooking Bundle</option>
                    <option value="531">ConServ 2.2 cu.ft. 120V Sani Washer 1400 RPM With 15 Built-In Cycles LED Display</option>
                    <option value="532">ConServ 2.2 cu.ft. 120V Sani Washer 1400 RPM With 15 Built-In Cycles LED Display</option>
                    <option value="533">ConServ 240V Condensor 4 cu.ft Sani Refresh Dryer Energy Star in (color)</option>
                    <option value="534">ConServ 240V Condensor 4 cu.ft Sani Refresh Dryer Energy Star in Black.</option>
                    <option value="537">Equator Outdoor Bundle Air Conditioner+Frost Free Ref with 7 color LED lights</option>
                    <option value="538">Equator Outdoor Bundle 3-in-1 AC Fan/Cooler/Heater+Real Stainless Refrigerator </option>
                    <option value="539">Equator 13lbs White Compact Washer 2.6 Cu.Ft White Compact Dryer - Stackable Set</option>
                    <option value="540">Equator 13 Lbs White Super Washer 13 Lbs White Compact Vented Dryer - Stackable Set</option>
                    <option value="541">Equator 1.9 Cu.Ft White Super Washer 3.5 Cu.Ft White Compact Dryer - Stackable Set</option>
                    <option value="542">Equator 0 Clearance Compact 110V Ventless 1.62cf/15lbs Sani Combo Washer Dryer</option>
                    <option value="543">Equator 0 Clearance Compact 110V Ventless 1.62cf/15lbs Sani Combo Washer Dryer</option>
                    <option value="544">Equator 0 Clearance Compact 110V Ventless 1.62cf/15lbs Sani Combo Washer Dryer</option>
                    <option value="548">ConServ 4.3 cu.ft Upright Freezer with Reversible Door in Stainless</option>
                    <option value="550">3.5 cu.ft. Compact Short Dryer with Digital Controls in Silver</option>
                    <option value="551">3.5 cu.ft. Compact Short Dryer with Digital Controls in Black</option>
                    <option value="553">Equator 110V 1.6 cf Washer w/ Pet Cycle &amp; 110V 3.5cf Vented Digital Sensor Dryer</option>
                    <option value="552">Equator 110V 1.6 cf Washer w/ Pet Cycle &amp; 110V 3.5cf Vented Digital Sensor Dryer</option>
                    <option value="569">Equator 2.5L/120V Advanced Pet Groomer w/ Adjustable Clipping Comb and Detachable Hose </option>
                    <option value="570">Equator 11.7 cu.ft. Freezer-Refrigerator Bottom Mounted</option>
                    <option value="572">Equator 11.7 cu.ft. Freezer-Refrigerator Bottom Mounted Stainless</option>
                    <option value="557">Pinnacle 1.62 cu.ft./15 lbs All in One Combo Washer Dryer with Pet Cycle in Black</option>
                    <option value="576">Conserv 14 cu.ft. Convertible Upright Freezer/Refrigerator Garage Ready in White</option>
                    <option value="577">Conserv 14 cu.ft. Convertible Upright Freezer/Refrigerator Garage Ready in Black</option>
                    <option value="578">Conserv 14cf Upright Freezer CONVERTIBLE REF Garage Ready E-Star 28in wide 110V</option>
                    <option value="579">Equator 110V 1.6 cf Washer w/ Pet Cycle &amp; 120V 2.6 cf Vented Digital Sensor Dryer </option>
                    <option value="581">Equator Sani 2.2 cf 120 V Washer &amp; 4 Cf 220V Condensing Dryer Made in Europe in White</option>
                    <option value="580">Equator Sani 2.2 cf 120 V Washer &amp; 4 Cf 220V Condensing Dryer Made in Europe Titanium</option>
                    <option value="582">Wine Bottle Opener</option>
                    <option value="585">Conserv 12 cf No Frost Bottom Mount Refrigerator Garage Ready E-Star Europe in Titanium</option>
                    <option value="584">Conserv 12 cf No Frost Bottom Mount Refrigerator Garage Ready E-Star Europe in Stainless</option>
                    <option value="595">Equator 30A 6 ft 4-Prong Dryer Power Cord Black</option>
                    <option value="596">Equator 30A 6 ft 3-Prong Dryer Power Cord Grey</option>
                    <option value="597">Rear Stacking Kit 3080 White</option>
                    <option value="598">Rear Stacking Kit 3080 Silver</option>
                    <option value="599">Rear Stacking Kit 3080 Black</option>
                    <option value="600">High Effeciency Detergent Biodegradable</option>
                    <option value="602">Equator 110V 4 cu.ft.18lbs Vented Dryer Interior light, Reversible door in White</option>
                    <option value="603">Equator Single Bottle Chiller Wine-Champagne-Water White 110V AC/12V DC</option>
                    <option value="607">Equator 30</option>
                    <option value="611">Equator 18 lbs. Combination Washer Dryer - Sanitize, Allergen, Winterize, Vented/Ventless Dry + 2 Boxes of HE Detergent</option>
                    <option value="613">Equator 18 lbs. Combination Washer Dryer - Sanitize, Allergen, Winterize, Vented/Ventless Dry + 2 Boxes of HE Detergent</option>
                    <option value="614">Equator 20” Freestanding 4 Burner Electric Cooking Range+Convection Oven Sliver</option>
                    <option value="615">Equator 20” Freestanding 4 Burner Electric Cooking Range+Convection Oven Sliver</option>
                    <option value="619">Equator 18 lbs. Combination Washer Dryer - Sanitize, Allergen, Winterize, Vented/Ventless Dry + 2 Boxes of HE Detergent</option>
                    <option value="618">Equator 18 lbs. Combination Washer Dryer - Sanitize, Allergen, Winterize, Vented/Ventless Dry + 2 Boxes of HE Detergent</option>
                    <option value="617">Equator 18 lbs. Combination Washer Dryer - Sanitize, Allergen, Winterize, Vented/Ventless Dry + 2 Boxes of HE Detergent</option>
                    <option value="616">Equator 18 lbs. Combination Washer Dryer - Sanitize, Allergen, Winterize, Vented/Ventless Dry + 2 Boxes of HE Detergent</option>
                    <option value="620">Equator 24” Freestanding Electric Cooking Range in Stainless with Convection Oven”</option>
                    <option value="621">Equator 24” Freestanding Electric Cooking Range in Stainless with Convection Oven”</option>
                    <option value="624">Conserv 17 cu.ft. Convertible Upright Freezer/Refrigerator Garage Ready in white</option>
                    <option value="622">Conserv 17 cu.ft. Convertible Upright Freezer/Refrigerator Garage Ready in Black</option>
                    <option value="623">Conserv 17 cu. ft Convertible Upright Freezer/Refrigerator Garage Ready in Stainless</option>
                    <option value="625">Equator 30" Electric Builtin Hybrid Cooktop 2 Induction+Ceramic Burner in Black </option>
                    <option value="627">Equator 1.6 cu.ft./15 lbs White 110V Front load Washer 15 programs + Pet Cycle in Black</option>
                    <option value="626">Equator 1.6 cu.ft./15 lbs White 110V Front load Washer 15 programs + Pet Cycle in Silver</option>
                    <option value="628">Equator Electric 3.5 cu. ft./ 13lbs 110V Compact Venting Dryer with Sensor Dry</option>
                    <option value="630">Equator 240V Built-in 36in Hybrid Cooktop-3 Induction+2 Ceramic Heating Element in Black with Designing logo</option>
                    <option value="629">Equator 240V Built-in 36in Hybrid Cooktop-3 Induction+2 Ceramic Heating Element in Black</option>
                    <option value="631">Equator Digital Touch Apartment 110V Set 1.9cf Washer + Vented Digital 4cf Dryer</option>
                    <option value="632">Equator 30" Electric</option>
                    <option value="633">Equator 240V 24in 2 Induction and 2 Ceramic Electric Hybrid Cooktop Black</option>
                    <option value="634">Equator 120V 20inch 2 Induction and 2 Ceramic Electric Hybrid Cooktop Black</option>
                    <option value="635">Equator Pet package of 1.62 cu.ft. Combo Washer Dryer + Advanced Pet Groomer &amp; Air Purifier in White</option>
                    <option value="637">Equator Laundry Pedestal with Drawer in Silver</option>
                    <option value="636">Equator Digital Touch Apartment 110V Set 1.9cf Washer + Vented Digital 4cf Dryer</option>
                    <option value="638">Equator Pet package of stackable 1.6 cu.ft. Washer &amp; 3.5 cu.ft. Dryer w/ Advanced Pet Groomer &amp; Air Purifier in White</option>
                    <option value="639">Equator 30" Electric Builtin Hybrid Cooktop 2 Induction+Ceramic Burner in Black </option>
                    <option value="640">Equator Pet 15lbs Compact 110V Set Sani Digital Washer+3.5 cu.ft. Vented Sensor Dryer with knob</option>
                    <option value="641">Equator Combo Washer Dryer VENTED-DRY 30% Faster than Condense 110V 15lb 1400RPM in Black</option>
                    <option value="642">Equator Combo Washer Dryer VENTED-DRY 30% Faster than Condense 110V 15lb 1400RPM in Silver</option>
                    <option value="643">Equator Ultimate PET CARE COMBO Washer Dryer + Pet Groomer + Air Purifier White</option>
                    <option value="644">Equator Garbage Disposer 3/4HP ULTRA QUIET 65 dB 2 Stage Grinding 1700 rpm 110V</option>
                    <option value="645">Equator 1.6cf 110V Vented/Ventless Sani Combo Washer Dryer Pet Cycle + Pedestal</option>
                    <option value="647">Equator 1.6cf 110V Vented/Ventless Sani Combo Washer Dryer Pet Cycle + Pedestal</option>
                    <option value="646">Equator 1.6cf 110V Vented/Ventless Sani Combo Washer Dryer Pet Cycle + Pedestal</option>
                    <option value="648">Equator 108 Bottles Hybrid Triple Zone Combo Wine Refrigerator + 2 Drawers 110V</option>
                    <option value="650">Equator DELUXE LAUNDRY SET Digital Washer 1.9cf 110V+ Vented Dryer 4cf 110V </option>
                    <option value="651">Equator COMPLETE LAUNDRY SET Sani Washer 1.9cf 110V +Vented Dryer 110V+ Pedestals</option>
                    <option value="652">Equator COMPLETE LAUNDRY SET Sani Washer 1.9cf 110V +Vented Dryer 220V+ Pedestals</option>
                    <option value="654">POWER CORD FOR COOKING RANGE 250V 30Amp 3-Wire w/Side Grip Plug 6 Feet Grey</option>
                    <option value="653">POWER CORD FOR COOKING RANGE 250V 30Amp 4-Wire w/Side Grip Plug 6 Feet Black</option>
                    <option value="655">Outdoor Air Conditioner COLD HOSE EXTENDER KIT 12 feet</option>
                    <option value="656">Equator 800W Freestanding Combo Microwave Oven in Stainless + Equator 50W Tailgate Refrigerator in White Bundle</option>
                    <option value="657">Equator 0.93 Cu. Ft Stainless 5-in-1 Air Fryer + 9-Bottle Wine Refrigerator Cooking Bundle</option>
                    <option value="658">Equator TINY HOME COMPACT APPLIANCE PACK- Washer+Dryer+Dishwasher+Cooking Range+Refrigerator+Microwave</option>
                    <option value="662">Equator Steam Dryer Closet REMOVE WRINKLES Sanitize Deodorize Refresh Slim110V in White</option>
                    <option value="663">Outdoor Air Conditioner COLD HOSE EXTENDER KIT 12 feet</option>
                    <option value="664">Conserv Stacking Kit White</option>
                    <option value="665">Conserv Stacking Kit Black</option>
                    <option value="666">Equator 10,000 BTU Outdoor-Indoor 3-in-1 AIR CONDITIONER+HEATER+FAN 110V</option>
                    <option value="667">All-In-One CONVERTIBLE Washer-Dryer 18lb/1.9cf SANITIZE ALLERGEN Cycle 1400RPM -- Stormy Grey</option>
                    <option value="668">All-In-One CONVERTIBLE Washer-Dryer 18lb/1.9cf SANITIZE ALLERGEN Cycle 1400RPM -- Midnight Blue</option>
                    <option value="669">Equator 3-in-1 OUTDOOR AC+HEATER+FAN 9000 BTU 110V w/Wheels 110V + Drip Pan + Pump</option>
                    <option value="671">Equator 10,000 BTU OUTDOOR-INDOOR AIR CONDITIONER HEATER 110V+Drip Pan Pump Kit</option>
                    <option value="672">Equator 1.6cf 110V condensing Sani Combo Washer Dryer 0 Clearance with Pedestal -- White</option>
                    <option value="673">Equator 1.6cf 110V condensing Sani Combo Washer Dryer 0 Clearance with Pedestal -- Silver</option>
                    <option value="674">Equator 1.6cf 110V condensing Sani Combo Washer Dryer 0 Clearance with Pedestal -- Black</option>
                    <option value="675">Equator All-in-One Washer Dryer VENTLESS/VENTED PET cycle 1.62cf/15lbs 110V -- Merlot</option>
                    <option value="676">Equator 1.6cf 110V Vented Sani Combo Washer Dryer Pet Cycle + Pedestal ADA - White</option>
                    <option value="681">Equator 1.6cf 110V Vented Sani Combo Washer Dryer Pet Cycle + Pedestal ADA - Silver</option>
                    <option value="682">Equator 1.6cf 110V Vented Sani Combo Washer Dryer Pet Cycle + Pedestal ADA - Black</option>
                    <option value="683">Equator 24 in Dishwasher 14 place + 3/4 HP Garbage Disposer QUIET 51dB 110V E-Star ADA -- White</option>
                    <option value="684">Equator 24 in Dishwasher 14 place + 3/4 HP Garbage Disposer QUIET 51dB 110V E-Star ADA -- Silver</option>
                    <option value="685">Equator 24 in Dishwasher 14 place + 3/4 HP Garbage Disposer QUIET 51dB 110V E-Star ADA -- Black</option>
                    <option value="686">Equator 18 in Dishwasher 10 place QUIET 110V E-Star ADA+3/4 HP Garbage Disposer -- White</option>
                    <option value="687">Equator 18 in Dishwasher 10 place QUIET 110V E-Star ADA+3/4 HP Garbage Disposer -- Black</option>
                    <option value="688">Equator 18 in Dishwasher 10 place QUIET 110V E-Star ADA+3/4 HP Garbage Disposer -- Silver</option>
                    <option value="689">AIR SWITCH for Garbage Disposer COUNTERTOP OPERATION 110V 12A</option>
                    <option value="690">Equator 24 in Dishwasher 15 place QUIET 110V E-Star ADA+3/4 HP Garbage Disposer</option>
                    <option value="691">Equator 24 in Dishwasher 15 place QUIET 110V E-Star ADA+3/4 HP Garbage Disposer</option>
                    <option value="692">Equator 24 in Dishwasher 15 place QUIET 110V E-Star ADA+3/4 HP Garbage Disposer </option>
                    <option value="694">Equator Bottom Mount Refrigerator-Freezer w/ICE MAKER Frost Free Reversible 110V</option>
                    <option value="695">Equator 24 in HEAT PUMP DRYER 3.7 cf/20 lbs, Eco Sensor Ventless Sanitize 110V</option>
                    <option value="696">Equator STACKABLE 18 lbs Washer 1.9cf 110V+HEAT PUMP Dryer 3.7cf 110V Stack Kit</option>
                    <option value="697">Equator Side by Side 18lbs Washer 1.9cf 110V + 20lbs HEAT PUMP DRYER 3.7cf 110V</option>
                    <option value="699">Equator Steam Dryer Closet REMOVE WRINKLES Sanitize Deodorize Refresh Slim110V Black</option>
                    <option value="702">Equator Steam Dryer Closet REMOVE WRINKLES Sanitize Deodorize Refresh Slim110V Stainless</option>
                    <option value="703">Equator 24 in Dishwasher 15 place QUIET 110V E-Star ADA+3/4 HP Air Switch Garbage Disposer</option>
                    <option value="704">Equator PET HEALTHY HOME SET Level 2 Groomer Air Purifier Humidifier 110V 431sf</option>
                    <option value="705">Equator 9 Bottles Wine Refrigerator 1-Zone Red Freestanding/Builtin 7 Color LED 110V</option>
                    <option value="706">Equator 12 Bottles Countertop Wine Refrigerator Black Touch control 110V With Wine Bottle Opener</option>
                    <option value="707">Equator 16 Bottles Countertop Wine Refrigerator Black Touch control 110V With Wine Bottle Opener</option>
                    <option value="708">PRO PET Pack Stackable 1.6cf Washer+3.5cf Dryer+PET Groomer+PET Air Purifier/Hum</option>
                    <option value="709">AIR SWITCH for Garbage Disposer COUNTERTOP OPERATION 110V 12A</option>
                    <option value="710">Equator Garbage Disposal 3/4HP ULTRA QUIET +Air Switch Countertop Operation 110V</option>
                    <option value="711">Equator Steam Dryer Closet REMOVE WRINKLES Sanitize Deodorize Refresh Slim110V</option>
                    <option value="712">Equator PET HEALTHY HOME SET Level 1 Groomer + Air Purifier 110V 269sf</option>
                    <option value="713">Equator All-in-One Washer Dryer VENTLESS/VENTED PET 1.62cf/15lbs+Portability Kit </option>
                    <option value="714">Equator All-in-One Washer Dryer VENTLESS/VENTED PET 1.62cf/15lbs+Portability Kit Silver</option>
                    <option value="715">Equator All-in-One Washer Dryer VENTLESS/VENTED PET 1.62cf/15lbs+Portability Kit Black </option>
                    <option value="716">Equator All-in-One Washer Dryer VENTLESS/VENTED PET 1.62cf/15lbs+Portability Kit Merlot</option>
                    <option value="717">Equator All-In-One VENTED/VENTLESS Washer-Dryer 1.9cf/18lb SANITIZE 1400RPM 110V + Pedestal </option>
                    <option value="718">Equator All-In-One VENTED/VENTLESS Washer-Dryer 1.9cf/18lb SANITIZE 1400RPM 110V + Pedestal </option>
                    <option value="719">Marine Washer RUST PROOF 1.62 cf/15 lbs. 1400 RPM Salt Wash Sanitize 110V </option>
                    <option value="720">Marine Dryer RUST PROOF 3.1 cf/15 lbs Sanitize Sensor Dry Refresh ECO 110V</option>
                    <option value="721">All-In-One CONVERTIBLE Washer-Dryer 18lb/1.9cf SANITIZE ALLERGEN Cycle 1400RPM </option>
                </select>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="eq-field"><label class="eq-field--label">&nbsp;</label>
                <button class="eq-btn eq-btn--primary mt-auto">Filter</button>
            </div>
        </div>
    </div>
    <section class="eq-reviews">
        <h3 class="eq-reviews--title">All Reviews</h3>
        <ul class="eq-review--list">
            <li class="eq-review--box">
                <span class="eq-review--user">ANNE (JANUARY 15 2021)</span>
                <p class="eq-review--text">So far so good. Delivery came as expected, no delay. Fairly easy to install, clear directions. One packing rod was difficult to turn and pull free, of course that was the first thing I had to do. After that everything went smoothly. Tenant is using it no complaints. Now We will see how it lasts. Like the red and the small size.</p>
            </li>
        </ul>
    </section>
</Container>